pandas
numpy
matplotlib
openai
pydantic
langchain_core
duckduckgo_search
langchain
langchain_experimental
ipykernel
google-generativeai
dotenv
psycopg2
langgraph
elasticsearch
qdrant_client
loguru
e2b_code_interpreter
jinja2
pathlib
langchain_openai
pydantic-settings
cohere
uv
langgraph
langgraph-cli
langgraph-api